@font-face {
	font-family: Montserrat-Hairline;
	src: url(../src/font/Montserrat-Hairline.otf);
}
@font-face {
	font-family: Montserrat-Light;
	src: url(../src/font/Montserrat-Light.otf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(../src/font/Montserrat-Regular.otf);
}