@font-face {
	font-family: Montserrat-Hairline;
	src: url(../src/font/Montserrat-Hairline.otf);
}
@font-face {
	font-family: Montserrat-UltraLight;
	src: url(../src/font/Montserrat-UltraLight.otf);
}
@font-face {
	font-family: Montserrat-Light;
	src: url(../src/font/Montserrat-Light.otf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(../src/font/Montserrat-Regular.otf);
}
@font-face {
	font-family: Montserrat-Bold;
	src: url(../src/font/Montserrat-Bold.otf);
}
@font-face {
	font-family: Montserrat-SemiBold;
	src: url(../src/font/Montserrat-SemiBold.otf);
}
@font-face {
	font-family: Montserrat-Black;
	src: url(../src/font/Montserrat-Black.otf);
}