$pink: #ff4f81;
$grey_blue: #2E3C43;
$light_blue: #00cdaf;
$light_grey: #ddd;
$dark_grey: #8d8d8d;
$bezier: cubic-bezier(0.04, 0.68, 0.43, 0.93);

$hairline: Montserrat-Hairline;
$ultralight: Montserrat-UltraLight;
$light: Montserrat-Light;
$regular: Montserrat-Regular;
$bold: Montserrat-Bold;
$semibold: Montserrat-SemiBold;
$black: Montserrat-Black;

footer {
 	position: relative;
	width: 100%;
	height: 200px;
	background-color: $grey_blue;
	.list-nav,
	.list-link  {
		position: relative;
		text-align: center;
		padding: 40px 0 0 0;
		font-family: $regular;
		a {
			color: #5e6e78;
			margin: 0 10px 0 0;
			transition: color 0.4s $bezier;
			&:hover,
			&:active,
			&.active {
				color: #00cdaf;
			}
			&:last-child {
				margin: 0;
			}
		}
	}
	
	.list-link {
		font-size: 20px;
		a {
			margin: 0 50px 0 0;
		}
	}

	.copyright {
		color: #5e6e78;
		position: relative;
		text-align: center;
		padding: 40px 0 0 0;
		font-family: $light;
	}
}

/**********************
	MOBILE
***********************/
@media screen and (min-width: 320px) and (max-width: 768px) {
	footer {
		height: 150px;
	}
}