/**********************
	DESKTOP
***********************/
main {
	width: 100%;
	height: 100%;
}

.top-panel {
	width: 100%;
	height: 200px;
	position: relative;
	background-color: #2E3C43;
	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: url(_link_/top.png) no-repeat center;
		background-size: cover;
	}
}

.title-wrapper {
	position: relative;
	top: 120px;
    width: 100%;
    height: 20px;
}

.title {
	position: relative;
    display: table;
    margin: 0 auto;
	a {
		color: white;
		margin-right: 10px;
		text-decoration: none;
		&::after {
			content: "/";
			position: relative;
			color: white;
			margin-left: 10px;
			cursor: default;
		}
		&:last-child {
			color: #ddd;
			&::after {
				content: "";
			}
		}
	}
}

.back {
	display: block;
	position: relative;
	top: 92px;
	left: 30px;
	width: 100px;
	height: 36px;
	border: 2px solid #ddd;
	box-sizing: border-box;
	border-radius: 20px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	transition: border-color 0.4s cubic-bezier(0.04, 0.68, 0.43, 0.93);
	&:hover {
		text-decoration: none;
		color: white;
		border: 2px solid white;
		cursor: pointer;
	}
}

.left-column,
.content {
	vertical-align: top;
}

.left-column {
	width: 20%;
	height: 100%;
	position: relative;
	display: inline-table;
	background-color: #2E3C43;
}

.cat {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	&:last-child {
		border: none;
	}
}
.list-wrapper {
	ul {
		margin-bottom: 20px;
	}
}

.list-title {
	color: #00cdaf;
	font-size: 18px;
    margin: 0 0 20px 14.2857%;
    padding-top: 30px;
}

.cat-item {
	display: block;
	width: 75%;
	height: 36px;
	border-radius: 20px;
	text-decoration: none;
	color: white;
	margin-left: 14.2857%;
	line-height: 37px;
	&:hover {
		background-color: #3a4b56;
	}
	&:active {
		background-color: #ff4f81;
		span {
			color: white;
		}
	}
	span {
		transform: scale(1.17, 1.5);
    	font-size: 9px;
    	padding: 0 5.3571% 4px 7.1428%;
    	color: #00cdaf;
	}
}

.content {
	width: 80%;
	height: 400px;
	position: relative;
	display: inline-table;
}

.contact-wrapper {
	position: relative;
	width: 100%;
	height: 200px;
	background: url(_link_/letter.png) no-repeat center
}

.contact,
.letter,
.email {
	vertical-align: top;
	width: 43%;
	display: inline-block;
}

.contact {
	position: relative;
	margin-right: 7%;
	height: 100%;
	text-align: center;
	font-size: 24px;
	h1 {
		color: #00cdaf;
		margin: 65px 0 24px 0;
	}
	p {
		color: #8d8d8d;
	}
}

.text-wrapper {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.email {
	margin-left: 7%;
	height: 100%;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	a {
		color: #00cdaf;
	    margin: 90px 0;
	    display: inline-block;
	    text-decoration: none;
	    padding-bottom: 1px;
	    border-bottom: 1px solid;
	}
}

.filters {
	div {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 21.428%;
		height: 36px;
		margin: 20px 1.78571%;
	}
}


/**********************
	MOBILE
***********************/
@media screen and (max-width: 768px) {
	.top-panel {
		&::before {
			background: url(_link_/top_mobile.png) no-repeat center;
			background-size: cover;
		}
	}
}