$pink: #ff4f81;
$grey_blue: #2E3C43;
$light_blue: #00cdaf;
$light_grey: #ddd;
$dark_grey: #8d8d8d;
$bezier: cubic-bezier(0.04, 0.68, 0.43, 0.93);

$hairline: Montserrat-Hairline;
$ultralight: Montserrat-UltraLight;
$light: Montserrat-Light;
$regular: Montserrat-Regular;
$bold: Montserrat-Bold;
$semibold: Montserrat-SemiBold;
$black: Montserrat-Black;

/**********************
	DESKTOP
***********************/
.our-product {
	width: 100%;
	height: 100%;
	
	.middle-panel {
		height: 100%;
	    background-color: $grey_blue;
	    padding-left: 280px;
		
		.left-column,
		.content {
			vertical-align: top;
		}
	}
}

.left-column {
	width: 280px;
	min-height: 720px;
	position: relative;
	display: inline-table;
	background-color: $grey_blue;
	margin-left: -280px;

	.cat {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		&:last-child {
			border: none;
		}
	}

	.list-wrapper {
		ul {
			margin-bottom: 20px;
		}
	}

	.list-title {
		color: #00cdaf;
		font-size: 18px;
	    margin: 0 0 20px 14.2857%;
	    padding-top: 30px;
	}

	.cat-item {
		display: block;
		width: 75%;
		height: 36px;
		border-radius: 20px;
		text-decoration: none;
		color: white;
		margin-left: 14.2857%;
		line-height: 37px;
		&:hover {
			background-color: #3a4b56;
		}
		&:active {
			background-color: #3a4b56;
		    box-shadow: 2px;
		    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .075);
		}
		span {
			transform: scale(1.17, 1.5);
	    	font-size: 9px;
	    	padding: 0 5.3571% 4px 7.1428%;
	    	color: #00cdaf;
		}
		&.active {
			background-color: #ff4f81;
			span {
				color: white;
			}
		}
	}
}

.filters-list {
	margin: 20px 2.6785%; 
	.filter,
	.search {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 22.6415%;
		height: 36px;
		margin: 0 1.8867% 0 0;
		border-radius: 20px;
		border: none;
		background-color: #f4f4f4;
		cursor: pointer;
		box-shadow: none;
		&:hover,
		&:active,
		&:focus {
			background-color: #f1f1f1;
			border: none;
		}
	}
	.search {
		width: 26.415%;
		margin: 0;
		font-family: $light;
		cursor: text;
	}
	.filter {
		user-select: none;
		ul {
			top: inherit;
			width: 92%;
			margin: auto;
			right: 0;
			left: 0;
			box-shadow: 0 2px 10px rgba(0, 0, 0, .175);
		}
		a {
			color: #8d8d8d;
			cursor: pointer;
			padding: 3px 10px;
		}
		a.active {
			color: #252525;
		}
		a:hover {
			background-color: white;
			color: #ff4f81;
		}
		&.open {
			.glyphicon-chevron-up {
				display: block;
			}
			.glyphicon-chevron-down {
				display: none;
			}
		}
	}
	
	.filter-name {
		color: #8d8d8d;
	    line-height: 36px;
	    margin: 0 0 0 20px;
	    font-family: $light;
	}

	.glyphicon-chevron-down {    
		font-size: 9px;
	    float: right;
	    top: 14px;
	    right: 20px;
	}

	.glyphicon-chevron-up {    
		display: none;
		font-size: 9px;
	    float: right;
	    top: 14px;
	    right: 20px;
	}

	input {
		padding: 6px 12px 6px 20px;
	}
	
	input:focus {
		outline: 0;
		box-shadow: none;
	}
}

.filter-list-mobile {
	display: none;
}

.content {
	width: 100%;
	min-height: 700px;
	position: relative;
	display: inline-table;
    background-color: #fff;
	.list-items {
		border-top: 1px solid #ececec;
	}
}

.contact-wrapper {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #f1f6f9;
	margin-top: -1px;
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		background: url(_link_/letter.png) no-repeat center;
		top: 0;
		left: 0;
	}
	
	.contact,
	.email {
		vertical-align: top;
		width: 43%;
		display: inline-block;
	}

	.contact {
		position: relative;
		margin-right: 7%;
		height: 100%;
		text-align: center;
		font-size: 24px;
		h1 {
			color: #00cdaf;
			margin: 65px 0 24px 0;
			font-family: $light;
		}
		p {
			color: #8d8d8d;
			font-family: $ultralight;
		}
	}

	.text-wrapper {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.email {
		margin-left: 7%;
		height: 100%;
		font-size: 20px;
		text-decoration: underline;
		text-align: center;
	    position: relative;
		a {
			color: #00cdaf;
		    margin: 90px 0;
		    display: inline-block;
		    text-decoration: none;
		    padding-bottom: 1px;
		    border-bottom: 1px solid;
			font-family: $light;
		}
	}
}

/**********************
	MOBILE
***********************/
@media screen and (min-width: 320px) and (max-width: 768px) {
	.title {
		a {
			display: none;
			&:last-child {
				display: block;
				font-size: 20px;
			}
		}
	}
	.our-product {
		.middle-panel {
			padding-left: 0;
		}
	}
	.content {
		width: 100%;
		.filters-list {
			padding-right: 46px;
			.search {
				width: 100%;
				margin: 0;
			}
		}
		.filter-input {
			width: 36px;
			height: 36px;
			float: none;
			padding: 0;
		    margin: 0 -46px 0 0;
			position: relative;
			left: 10px;
			display: inline-block;
			border-radius: 50%;
			background-color: #00cdaf;
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				background: url(_link_/filter.png) center no-repeat;
				background-size: 19px;
			}
		}
		.list-items {
			.item {
				border-right: none;
			}
		}
	}

	.filter-list-mobile {
		display: block;
		padding: 38px 0 0 0;
		overflow: hidden;
		&:after {
		    content: "";
		    position: absolute;
		    display: block;
		    width: 100%;
		    height: 1px;
		    top: 76px;
		    left: 0;
		    background-color: #ececec;
		}
		.filter {
			display: block;
			width: 100%;
			margin: 0 0 15px 0;
			&:last-child {
				width: 100%;
				margin: 0;
			}
		}
		ul {
			position: relative;
		}
	}
	
	.contact-wrapper {
		height: 400px;
		&::before {
			background: url(../src/assets/letter-mobile_1_50.png) no-repeat center 170px;
			background-size: 115px;
			width: 100%;
			height: 100%;
		}
		.contact,
		.email {
			display: block;
			height: initial;
			width: 100%;
		    margin: 0 auto;
		}
		.contact {
			padding: 60px 0 0 0;
			h1 {
				margin: 0 0 30px 0;
			}
			p {
			    font-size: 17px;
			}
		}
		.email {
		    margin: 180px auto 0;
			a {
				margin: 0;
			    font-size: 17px;
			}
		}
	}
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
	.list-items {
		.item-product:nth-child(2n) {
			border-right: none;
		}
	}
}
@media screen and (min-width: 992px) {
	.list-items {
		.item-product:nth-child(4n) {
			border-right: none;
		}
	}
}
